@page
@model IndexModel
@using Microsoft.AspNetCore.Identity
@using Authorization.RazorPages.Entities
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "Главная";
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать</h1>
</div>


