@page
@model PrivacyModel
@{
    ViewData["Title"] = "Задание";
}
<h1>Тестовый веб-сайт</h1>

<p>
    Создать веб-сайт, включающий поддержку Forms аутентификации (с возможностью быстрого переключения на Windows аутентификацию).
</p>
<p>
    На сайте должна быть главная страница, страница администрирования, конфигурирования ролей.
    При создании БД в ней по умолчанию должен быть создан пользователь с ролью Администратор.
</p>
<p>
    При входе на сайт - система спрашивает логин и пароль, либо предлагает зарегистрироваться.
</p>
<p>
    При регистрации указывается ФИО, логин, пароль, почтовый ящик, по умолчанию назначается роль Пользователь.
    После чего выполняется вход на сайт, в пункте меню должна быть доступна страница Администрирование - Пользователи (для пользователей с ролью Администратор), если под пользователем - просто сообщение на главной странице - добро пожаловать.
</p>
<p>
    Пользователь с ролью Администратор - может перейти в Администрирование-Пользователи, там увидеть таблицу пользователей, выполнить редактирование любой учетной записи
</p>