@page
@model TaskModel
@{
    ViewData["Title"] = "Задание";
}
<h1>Тестовый веб-сайт</h1>

<p>
    Создать веб-сайт, включающий поддержку Forms аутентификации (с возможностью быстрого переключения на Windows аутентификацию).
</p>
<p>
    На сайте должна быть <a asp-page="Index">главная страница</a>, <a asp-page="/Account/Users/Index">страница администрирования</a>, 
    <a asp-page="/Roles/Index">конфигурирования ролей.</a>
    При создании БД в ней по умолчанию должен быть создан пользователь с ролью Администратор.
<p>
    При входе на сайт - система спрашивает <a asp-page="/Account/Login">логин и пароль</a>, либо предлагает <a asp-page="/Account/Register">зарегистрироваться</a>.
</p>
<p>
    При регистрации указывается ФИО, логин, пароль, почтовый ящик, по умолчанию назначается роль Пользователь.
    После чего выполняется вход на сайт, в пункте меню должна быть доступна страница <a asp-page="/Account/Users/Index">Администрирование</a> - Пользователи (для пользователей с ролью Администратор), если под пользователем - просто сообщение на главной странице - добро пожаловать.
</p>
<p>
    Пользователь с ролью Администратор - может перейти в Администрирование-Пользователи, там увидеть таблицу пользователей, выполнить редактирование любой учетной записи
</p>