@page
@model Authorization.RazorPages.Pages.Roles.DeleteModel

@{
    ViewData["Title"] = "Удалить";
}


<h3>Вы действительно желаете удалить роль @Html.DisplayFor(model => model.ApplicationRole.Name)?</h3>
<div>
    <form method="post">
        <input type="hidden" asp-for="ApplicationRole.Id" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> |
        <a asp-page="./Index">Назад</a>
    </form>
</div>
