@page
@model Authorization.RazorPages.Pages.Roles.DeleteModel

@{
    ViewData["Title"] = "Удалить";
}

<h1>Удалить</h1>

<h3>Вы действительно хотите удалить роль @Html.DisplayFor(model => model.ApplicationRole.Name)?</h3>

<form method="post">
    <input type="hidden" asp-for="ApplicationRole.Id" />
    <input type="submit" value="Удалить" class="btn btn-danger" /> |
    <a asp-page="./Index">Назад</a>
</form>

