@page
@model Authorization.RazorPages.Pages.Account.Users.RolesModel
@{
}

<h2>Список ролей</h2>
<table class="table">
    @foreach (var role in Model.UserRoles)
    {
        <tr>
            <td>@role</td>
            <td>
                <form asp-action="Delete" asp-route-id="@Model.UserId" method="post">
                    <button type="submit" class="btn btn-sm btn-danger">
                        Удалить
                    </button>
                </form>
            </td>
        </tr>
    }
</table>
<select asp-for="SelectedStaffId" asp-items="Model.Staff">
    <option value=""></option>
</select>
